header.header {
  background: linear-gradient(220.94deg, #6F57F9 14.43%, #342680 85.28%);
  padding-top: 2rem;
  
  > div {
    max-width: 1120px;
    margin: 0 auto;

    padding: 2rem 1rem 12rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}